.App {
  text-align: center;
}

html {
  background-color:white;
}

#cardsDiv {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

/* Media Query for S, M, L */
#cards {
  max-width: 48%;
  margin: 1%;
  transition: transform .2s;
  cursor: pointer;
}
#cards:hover {
transform: scale(1.02);
}

/* #cards:hover {
  transform: scale(1.05);
} */

button {
  border: none;
  padding: 8px 20px;
}

form {
  text-align: left;
  width: 100%;
}

#formDiv {
  width: 50%;
  margin: 0 auto;
}

input {
  width: 100%;
}

.title {
  margin: 45px;
}

@media only screen and (max-width: 800px) {
  #cards {
  min-width: 98%;
  margin: 1%;
  }
}

@media only screen and (min-width: 1200px) {
  #cards {
  max-width: 31%;
  margin: 1%;
  }
}