.App {
  text-align: center;
}

.pageTitle {
  margin: 42px;
}

button {
  border: 0.5px solid #6c6c6c;
  padding: 8px 21px;
}

#formDiv {
  width: 80%;
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 45px;
  border-radius: 25px;
}

form {
  text-align: left;
  width: 100%;
  color: black;
}

input {
  width: 100%;
  padding: 5px;
}

textarea {
  width: 100%;
  height: 160px;
  padding: 5px;
}

#circleDiv{
  border-radius: 50%;
  border: 2px solid white;
  width: 62px;
  height: 62px;
  padding: 16px 10px 10px 10px;
  margin: -15px 10px 10px 10px;
  text-align: center;
  background-color: #332924;
}

#rankNumber{
  color: white;
}

.cardsDiv {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

#cards {
  transition: transform .2s;
  cursor: pointer;
  margin: 3%;
}

#cards:hover {
transform: scale(1.015);
}

footer {
  background-color: #f8f9fa;
  bottom: 0;
  width: 100%;
  height: 125px;
  margin-top: 45px;
  padding: 25px 50px;
}

#footerText {
  margin-top: 25px;
}


@media only screen and (min-width: 796px) {
  #cards {
  max-width: 46%;
  margin: 2%;
  }
  #formDiv {
  width: 70%;
}
}

@media only screen and (min-width: 1200px) {
  #cards {
  max-width: 31%;
  margin: 1%;
  }
  #formDiv {
  width: 60%;
}
}